---
import Layout from "../layouts/Layout.astro";
import Circle from "../components/Circle.astro";

import SocialLinks from "../constants/social-links";
---

<Layout title="RIZBUD.XYZ">
  <main class="p-6 min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-white text-center text-5xl font-kaushan m-0">
      Rizki Budi Prasetyo
    </h1>
    <h2 class="text-white text-center text-2xl m-0 mb-8 mt-16">
      Social Links:
    </h2>
    <ul role="list" class="flex flex-wrap items-center justify-center gap-6">
      {
        SocialLinks.map((social) => (
          <Circle
            href={social.url}
            title={social.title}
            icon={social.icon}
            class={social.class}
            iconClass={social.iconClass}
          />
        ))
      }
    </ul>
  </main>
</Layout>
